/* General styles for the HTML site */
body {
    background-color: #3ED2B0;
    color: #1A2B4C;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 40px 20px;
}

/* Header styles */
header {
    padding-top: 30px;
    text-align: center;
}

/* General styles for subpage content */
.alisivu-sisalto {
    background-color: #3ED2B0;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

/* Heading 1 styles */
h1 {
    font-family: Arial, sans-serif;
    font-size: 35px;
    color: #1A2B4C;
    text-align: center;
    padding-top: 30px;
}

/* Heading 2 and 3 styles */
h2, h3 {
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Introduction section */
.esittely {
    padding-left: 20px;
}

/* Image styles */
.kuva {
    max-width: 400px;
    vertical-align: middle;
    width: 100%;
}

/* Navigation link styles */
nav a {
    color: #1A2B4C;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    border: 2px solid #1A2B4C;
    padding: 10px 20px;
    margin: 0 5px; 
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover effect */
}

nav a:hover {
    background-color: #3ED2B0;
    color: #ffffff;
}

nav a.selected {
    background-color: #ffffff;
    color: #1A2B4C;
    font-weight: bold;
}

/* Button styles */
button {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #1A2B4C;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #1A2B4C;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #1A2B4C;
    z-index: -1;
}

button:hover, button:focus {
    color: white;
    background-color: #1A2B4C;
    outline: none; 
}

button:active {
    transform: scale(0.9);
}

.button-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 10vh; /* Full viewport height */
}
footer{
    font-family: otsikko, "sans serif";
    font-size: 18px;
    color: rgba(87, 54, 4);
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}
.fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(87, 54, 4);
    color:white;
}
.fa:hover {
    opacity: 0.6;
}

/*mobiilikokonäkymä
@media (max-width: 600px) {
    nav a;
    {
        font-size: 15px;
        width: 100px;
        height: 20px;
        padding: 7px;
        margin: 3px 5px;
    }
    //tablettikoko
    @media (min-width: 600px) {
        nav a;
        {
            font-size: 15px;
            width: 100px;
            height: 20px;
            padding: 7px;
            margin: 3px 5px;
        }

}*/