/* General styles for the HTML site */
body {
    background-color: #3ED2B0;
    color: #1A2B4C;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 40px 20px;
}

/* Header styles */
header {
    padding-top: 30px;
    text-align: center;
}

.alisivu-sisalto {
    background-color: #3ED2B0;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 35px;
    color: #1A2B4C;
    text-align: center;
    padding-top: 30px;
}

h2, h3 {
    font-family: Arial, sans-serif;
}

.esittely {
    padding-left: 20px;
}
/*
nav a {
    color: #1A2B4C;
    text-decoration: none;
    font-size: 20px;
    display: inline-flexbox;
    border: #1A2B4C 2px solid;
}*/
nav a {
    color: #1A2B4C;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    border: 2px solid #1A2B4C;
    padding: 10px 20px;
    margin: 0 5px; /* Add spacing between the boxes */
    text-align: center;
    border-radius: 5px; 
}
nav a:hover {
    color: #ffffff;
}
nav a.selected {
    color: #ffffff; /* Text color for the selected link */
    font-weight: bold; /* Optional: Make the selected link bold */
}